In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark.sql.functions import *

from delta import *

spark = (
    SparkSession
    .builder.appName('Delta')
    .master('local[*]')
    .config('spark.dynamicAllocation.enabled', 'false')
    .config('spark.jars.packages', 'io.delta:delta-core_2.12:2.4.0')
    .config('spark.sql.extensions', 'io.delta.sql.DeltaSparkSessionExtension')
    .config('spark.sql.catalog.spark_catalog',
            'org.apache.spark.sql.delta.catalog.DeltaCatalog')

    .getOrCreate()            
)

sc = spark.sparkContext

25/07/18 20:18:35 WARN Utils: Your hostname, mac-radi.local resolves to a loopback address: 127.0.0.1; using 192.168.100.157 instead (on interface en0)
25/07/18 20:18:35 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
:: loading settings :: url = jar:file:/Users/radi/.pyenv/versions/3.11.2/lib/python3.11/site-packages/pyspark/jars/ivy-2.5.0.jar!/org/apache/ivy/core/settings/ivysettings.xml

Ivy Default Cache set to: /Users/radi/.ivy2/cache
The jars for the packages stored in: /Users/radi/.ivy2/jars
io.delta#delta-core_2.12 added as a dependency
:: resolving dependencies :: org.apache.spark#spark-submit-parent-baf2700a-b489-45c2-8f67-856ea5d521c9;1.0
	confs: [default]
	found io.delta#delta-core_2.12;2.4.0 in central
	found io.delta#delta-storage;2.4.0 in central
	found org.antlr#antlr4-runtime;4.9.3 in central
:: resolution report :: resolve 89ms :: artifacts dl 3ms
	:: modules in use:
	io.delta#delta-core_2.12;2.4.0 from central in [default]
	io.delta#delta-storage;2.4.0 from central in [default]
	org.antlr#antlr4-runtime;4.9.3 from central in [default]
	---------------------------------------------------------------------
	|                  |            modules            ||   artifacts   |
	|       conf       | number| search|dwnlded|evicted|| number|dwnlded|
	---------------------------------------------------------------------
	|      default     |   3   |   0   |   0   |   0   ||   3   |   0   |
	---------------------------------------------------------------------
:: retrieving :: org.apache.spark#spark-submit-parent-baf2700a-b489-45c2-8f67-856ea5d521c9
	confs: [default]
	0 artifacts copied, 3 already retrieved (0kB/2ms)

25/07/18 20:18:35 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [2]:
import pyspark
pyspark.__version__

'3.3.1'

In [2]:
yello_taxi_schema = StructType([
    StructField('VendorID', IntegerType(), True),
    StructField('tpep_pickup_datetime', TimestampType(), True),
    StructField('tpep_dropoff_datetime', TimestampType(), True),
    StructField('passenger_count', DoubleType(), True),
    StructField('trip_distance', DoubleType(), True),
    StructField('RatecodeID', DoubleType(), True),
    StructField('store_and_fwd_flag', StringType(), True),
    StructField('PULocationID', IntegerType(), True),
    StructField('DOLocationID', IntegerType(), True),
    StructField('payment_type', IntegerType(), True),
    StructField('fare_amount', DoubleType(), True),
    StructField('extra', DoubleType(), True),
    StructField('mta_tax', DoubleType(), True),
    StructField('tip_amount', DoubleType(), True),
    StructField('tolls_amount', DoubleType(), True),
    StructField('improvement_surcharge', DoubleType(), True),
    StructField('total_amount', DoubleType(), True),
    StructField('congestion_surcharge', DoubleType(), True),
    StructField('airport_fee', DoubleType(), True),
])

In [4]:
yellow_taxi_df = (
    spark
        .read
        .option('header', 'true')
        .schema(yello_taxi_schema)
        .csv('/Users/radi/Projects/DataLab/data/taxi/YellowTaxis_202210.csv')
)

In [ ]:
yellow_taxi_df.explain()

== Physical Plan ==
FileScan csv [VendorID#0,tpep_pickup_datetime#1,tpep_dropoff_datetime#2,passenger_count#3,trip_distance#4,RatecodeID#5,store_and_fwd_flag#6,PULocationID#7,DOLocationID#8,payment_type#9,fare_amount#10,extra#11,mta_tax#12,tip_amount#13,tolls_amount#14,improvement_surcharge#15,total_amount#16,congestion_surcharge#17,airport_fee#18] Batched: false, DataFilters: [], Format: CSV, Location: InMemoryFileIndex(1 paths)[file:/Users/radi/Projects/DataLab/data/taxi/YellowTaxis_202210.csv], PartitionFilters: [], PushedFilters: [], ReadSchema: struct<VendorID:int,tpep_pickup_datetime:timestamp,tpep_dropoff_datetime:timestamp,passenger_coun...

In [8]:
for i in globals().keys():
    print(i)

__name__
__doc__
__package__
__loader__
__spec__
__builtin__
__builtins__
_ih
_oh
_dh
In
Out
get_ipython
exit
quit
open
_
__
___
__vsc_ipynb_file__
_i
_ii
_iii
_i1
SparkSession
DataType
NullType
StringType
BinaryType
BooleanType
DateType
TimestampType
DecimalType
DoubleType
FloatType
ByteType
IntegerType
LongType
DayTimeIntervalType
Row
ShortType
ArrayType
MapType
StructField
StructType
inspect
sys
functools
warnings
Any
cast
Callable
Dict
List
Iterable
overload
Optional
Tuple
TYPE_CHECKING
Union
ValuesView
since
SparkContext
PythonEvalType
Column
DataFrame
UserDefinedFunction
pandas_udf
PandasUDFType
to_str
lit
col
column
asc
desc
sqrt
abs
max
min
max_by
min_by
count
sum
avg
mean
sumDistinct
sum_distinct
product
acos
acosh
asin
asinh
atan
atanh
cbrt
ceil
cos
cosh
cot
csc
exp
expm1
floor
log
log10
log1p
rint
sec
signum
sin
sinh
tan
tanh
toDegrees
toRadians
bitwiseNOT
bitwise_not
asc_nulls_first
asc_nulls_last
desc_nulls_first
desc_nulls_last
stddev
stddev_samp
stddev_pop
variance
var_samp
var_pop
skewness
kurtosis
collect_list
collect_set
degrees
radians
atan2
hypot
pow
row_number
dense_rank
rank
cume_dist
percent_rank
approxCountDistinct
approx_count_distinct
broadcast
coalesce
corr
covar_pop
covar_samp
countDistinct
count_distinct
first
grouping
grouping_id
input_file_name
isnan
isnull
last
monotonically_increasing_id
nanvl
percentile_approx
rand
randn
round
bround
shiftLeft
shiftleft
shiftRight
shiftright
shiftRightUnsigned
shiftrightunsigned
spark_partition_id
expr
struct
greatest
least
when
log2
conv
factorial
lag
lead
nth_value
ntile
current_date
current_timestamp
date_format
year
quarter
month
dayofweek
dayofmonth
dayofyear
hour
minute
second
weekofyear
make_date
date_add
date_sub
datediff
add_months
months_between
to_date
to_timestamp
trunc
date_trunc
next_day
last_day
from_unixtime
unix_timestamp
from_utc_timestamp
to_utc_timestamp
timestamp_seconds
window
session_window
crc32
md5
sha1
sha2
hash
xxhash64
assert_true
raise_error
upper
lower
ascii
base64
unbase64
ltrim
rtrim
trim
concat_ws
decode
encode
format_number
format_string
instr
overlay
sentences
substring
substring_index
levenshtein
locate
lpad
rpad
repeat
split
regexp_extract
regexp_replace
initcap
soundex
bin
hex
unhex
length
octet_length
bit_length
translate
create_map
map_from_arrays
array
array_contains
arrays_overlap
slice
array_join
concat
array_position
element_at
array_remove
array_distinct
array_intersect
array_union
array_except
explode
posexplode
explode_outer
posexplode_outer
get_json_object
json_tuple
from_json
to_json
schema_of_json
schema_of_csv
to_csv
size
array_min
array_max
sort_array
array_sort
shuffle
reverse
flatten
map_keys
map_values
map_entries
map_from_entries
array_repeat
arrays_zip
map_concat
sequence
from_csv
transform
exists
forall
filter
aggregate
zip_with
transform_keys
transform_values
map_filter
map_zip_with
years
months
days
hours
bucket
udf
DeltaTable
configure_spark_with_delta_pip
spark
sc
_i2
yello_taxi_schema
_i3
_i4
yellow_taxi_df
_i5
_i6
_6
_i7
i
_i8

In [15]:
def notifyme(f):
    def logged(*args, **kwargs):
        print(f.__name__, ' called with', args, 'and', kwargs)
        return f(*args, **kwargs)
    return logged

In [17]:
@notifyme
def square(x):
    return x * x


res = square(25)

square  called with (25,) and {}

In [ ]:
    def ()

In [9]:
def start(x):
 def increment(y):
    return x + y
 return increment

In [11]:
test = start(1)

In [14]:
test(10)

11

In [5]:
yellow_taxi_df.show(10, truncate=False)

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|airport_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|1       |2022-10-01 03:03:41 |2022-10-01 03:18:39  |1.0            |1.7          |1.0       |N                 |249         |107         |1           |9.5        |3.0  |0.5    |2.65      |0.0         |0.3                  |15.95       |2.5                 |0.0        |
|2       |2022-10-01 03:14:30 |2022-10-01 03:19:48  |2.0            |0.72         |1.0       |N                 |151         |238         |2           |5.5        |0.5  |0.5    |0.0       |0.0         |0.3                  |9.3         |2.5                 |0.0        |
|2       |2022-10-01 03:27:13 |2022-10-01 03:37:41  |1.0            |1.74         |1.0       |N                 |238         |166         |1           |9.0        |0.5  |0.5    |2.06      |0.0         |0.3                  |12.36       |0.0                 |0.0        |
|1       |2022-10-01 03:32:53 |2022-10-01 03:38:55  |0.0            |1.3          |1.0       |N                 |142         |239         |1           |6.5        |3.0  |0.5    |2.05      |0.0         |0.3                  |12.35       |2.5                 |0.0        |
|1       |2022-10-01 03:44:55 |2022-10-01 03:50:21  |0.0            |1.0          |1.0       |N                 |238         |166         |1           |6.0        |0.5  |0.5    |1.8       |0.0         |0.3                  |9.1         |0.0                 |0.0        |
|1       |2022-10-01 03:22:52 |2022-10-01 03:52:14  |1.0            |6.8          |1.0       |Y                 |186         |41          |2           |25.5       |3.0  |0.5    |0.0       |0.0         |0.3                  |29.3        |2.5                 |0.0        |
|2       |2022-10-01 03:33:19 |2022-10-01 03:44:51  |3.0            |1.88         |1.0       |N                 |162         |145         |2           |10.5       |0.5  |0.5    |0.0       |0.0         |0.3                  |14.3        |2.5                 |0.0        |
|1       |2022-10-01 03:02:42 |2022-10-01 03:50:01  |1.0            |12.2         |1.0       |N                 |100         |22          |1           |41.0       |3.0  |0.5    |3.0       |0.0         |0.3                  |47.8        |2.5                 |0.0        |
|2       |2022-10-01 03:06:35 |2022-10-01 03:24:38  |1.0            |7.79         |1.0       |N                 |138         |112         |1           |23.5       |0.5  |0.5    |4.96      |0.0         |0.3                  |31.01       |0.0                 |1.25       |
|2       |2022-10-01 03:29:25 |2022-10-01 03:43:15  |1.0            |4.72         |1.0       |N                 |145         |75          |1           |14.5       |0.5  |0.5    |1.5       |0.0         |0.3                  |19.8        |2.5                 |0.0        |
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
only showing top 10 rows

In [ ]:
spark.sql("""
    CREATE DATABASE IF NOT EXISTS TaxiDB
          
          """)

DataFrame[]

In [ ]:
(yellow_taxi_df
    .write
    .mode('overwrite')
    .partitionBy('VendorID')
    .format('parquet')
    .option('path', '/home/radi/Projects/DataLab/data/output/YelloTaxis.parquet')
    .saveAsTable('TaxiDB.YellowTaxisParquet')
)

23/11/19 00:14:54 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
23/11/19 00:14:57 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers

In [ ]:
30/43

0.6976744186046512

In [ ]:


(yellow_taxi_df
    .write
    .mode('overwrite')
    .partitionBy('VendorID')
    .format('delta')
    .option('path', '/home/radi/Projects/DataLab/data/output/YelloTaxis.delta')
    .saveAsTable('TaxiDB.YellowTaxis')
)

23/11/19 00:16:16 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
23/11/19 00:16:16 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
23/11/19 00:16:17 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
23/11/19 00:16:17 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
23/11/19 00:16:17 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
23/11/19 00:16:17 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
23/11/19 00:16:17 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
23/11/19 00:16:18 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
23/11/19 00:16:24 WARN package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

In [ ]:
spark.sql("""
SELECT * FROM TaxiDB.YellowTaxis

""").show(10, truncate=False)

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|airport_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|2       |2022-10-03 18:17:20 |2022-10-03 18:32:06  |1.0            |1.83         |1.0       |N                 |230         |143         |1           |11.0       |0.0  |0.5    |2.86      |0.0         |0.3                  |17.16       |2.5                 |0.0        |
|2       |2022-10-01 03:14:30 |2022-10-01 03:19:48  |2.0            |0.72         |1.0       |N                 |151         |238         |2           |5.5        |0.5  |0.5    |0.0       |0.0         |0.3                  |9.3         |2.5                 |0.0        |
|2       |2022-10-03 18:25:49 |2022-10-03 18:48:02  |1.0            |1.99         |1.0       |N                 |162         |246         |1           |14.5       |0.0  |0.5    |3.56      |0.0         |0.3                  |21.36       |2.5                 |0.0        |
|2       |2022-10-01 03:27:13 |2022-10-01 03:37:41  |1.0            |1.74         |1.0       |N                 |238         |166         |1           |9.0        |0.5  |0.5    |2.06      |0.0         |0.3                  |12.36       |0.0                 |0.0        |
|2       |2022-10-03 18:57:06 |2022-10-03 19:05:05  |1.0            |2.17         |1.0       |N                 |246         |90          |1           |7.5        |0.0  |0.5    |2.16      |0.0         |0.3                  |12.96       |2.5                 |0.0        |
|2       |2022-10-01 03:33:19 |2022-10-01 03:44:51  |3.0            |1.88         |1.0       |N                 |162         |145         |2           |10.5       |0.5  |0.5    |0.0       |0.0         |0.3                  |14.3        |2.5                 |0.0        |
|2       |2022-10-03 18:20:55 |2022-10-03 18:24:20  |1.0            |0.66         |1.0       |N                 |233         |170         |2           |4.5        |0.0  |0.5    |0.0       |0.0         |0.3                  |7.8         |2.5                 |0.0        |
|2       |2022-10-01 03:06:35 |2022-10-01 03:24:38  |1.0            |7.79         |1.0       |N                 |138         |112         |1           |23.5       |0.5  |0.5    |4.96      |0.0         |0.3                  |31.01       |0.0                 |1.25       |
|2       |2022-10-03 18:27:04 |2022-10-03 18:43:37  |2.0            |2.21         |1.0       |N                 |137         |232         |1           |12.0       |0.0  |0.5    |5.0       |0.0         |0.3                  |20.3        |2.5                 |0.0        |
|2       |2022-10-01 03:29:25 |2022-10-01 03:43:15  |1.0            |4.72         |1.0       |N                 |145         |75          |1           |14.5       |0.5  |0.5    |1.5       |0.0         |0.3                  |19.8        |2.5                 |0.0        |
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
only showing top 10 rows

In [ ]:
spark.sql("""
DESCRIBE HISTORY TaxisDB.YellowTaxis
""").show(truncate=False)

+-------+-----------------------+------+--------+---------------------------------+----------------------------------------------------------------------------------------+----+--------+---------+-----------+--------------+-------------+----------------------------------------------------------------------+------------+-----------------------------------+
|version|timestamp              |userId|userName|operation                        |operationParameters                                                                     |job |notebook|clusterId|readVersion|isolationLevel|isBlindAppend|operationMetrics                                                      |userMetadata|engineInfo                         |
+-------+-----------------------+------+--------+---------------------------------+----------------------------------------------------------------------------------------+----+--------+---------+-----------+--------------+-------------+----------------------------------------------------------------------+------------+-----------------------------------+
|6      |2023-11-11 20:02:54.134|null  |null    |CREATE OR REPLACE TABLE AS SELECT|{isManaged -> false, description -> null, partitionBy -> ["VendorID"], properties -> {}}|null|null    |null     |5          |Serializable  |false        |{numFiles -> 17, numOutputRows -> 3675412, numOutputBytes -> 81520769}|null        |Apache-Spark/3.4.0 Delta-Lake/2.4.0|
|5      |2023-11-11 12:47:25.137|null  |null    |CREATE OR REPLACE TABLE AS SELECT|{isManaged -> false, description -> null, partitionBy -> ["VendorID"], properties -> {}}|null|null    |null     |4          |Serializable  |false        |{numFiles -> 17, numOutputRows -> 3675412, numOutputBytes -> 81520769}|null        |Apache-Spark/3.4.0 Delta-Lake/2.4.0|
|4      |2023-11-11 12:27:30.527|null  |null    |CREATE OR REPLACE TABLE AS SELECT|{isManaged -> false, description -> null, partitionBy -> ["VendorID"], properties -> {}}|null|null    |null     |3          |Serializable  |false        |{numFiles -> 17, numOutputRows -> 3675412, numOutputBytes -> 81520769}|null        |Apache-Spark/3.4.0 Delta-Lake/2.4.0|
|3      |2023-10-24 01:18:22.566|null  |null    |CREATE OR REPLACE TABLE AS SELECT|{isManaged -> false, description -> null, partitionBy -> ["VendorID"], properties -> {}}|null|null    |null     |2          |Serializable  |false        |{numFiles -> 17, numOutputRows -> 3675412, numOutputBytes -> 81520769}|null        |Apache-Spark/3.4.0 Delta-Lake/2.4.0|
|2      |2023-10-24 01:14:32.516|null  |null    |CREATE OR REPLACE TABLE AS SELECT|{isManaged -> false, description -> null, partitionBy -> ["VendorID"], properties -> {}}|null|null    |null     |1          |Serializable  |false        |{numFiles -> 17, numOutputRows -> 3675412, numOutputBytes -> 81520769}|null        |Apache-Spark/3.4.0 Delta-Lake/2.4.0|
|1      |2023-10-24 01:13:03.386|null  |null    |CREATE OR REPLACE TABLE AS SELECT|{isManaged -> false, description -> null, partitionBy -> ["VendorID"], properties -> {}}|null|null    |null     |0          |Serializable  |false        |{numFiles -> 17, numOutputRows -> 3675412, numOutputBytes -> 81520769}|null        |Apache-Spark/3.4.0 Delta-Lake/2.4.0|
|0      |2023-10-24 01:11:15.206|null  |null    |CREATE OR REPLACE TABLE AS SELECT|{isManaged -> false, description -> null, partitionBy -> ["VendorID"], properties -> {}}|null|null    |null     |null       |Serializable  |false        |{numFiles -> 17, numOutputRows -> 3675412, numOutputBytes -> 81520769}|null        |Apache-Spark/3.4.0 Delta-Lake/2.4.0|
+-------+-----------------------+------+--------+---------------------------------+----------------------------------------------------------------------------------------+----+--------+---------+-----------+--------------+-------------+----------------------------------------------------------------------+------------+-----------------------------------+

In [ ]:
spark.sql(
"""
CREATE TABLE TaxisDB.YellowTaxisNew
(
VendorId    INT     COMMENT 'Vendor providing ride',

PickupTime  TIMESTAMP,
DropTime    TIMESTAMP,

PickupLocationId    INT NOT NULL,
DropLocationID  INT,

PassengerCount  DOUBLE,
TripDistance    DOUBLE,

RateCodeId  DOUBLE,
StoreAndFwdFlag STRING,
PaymentType INT,

FareAmount  DOUBLE,
Extra       DOUBLE,
MtaTax      DOUBLE,
TipAmount   DOUBLE,
TollsAmount DOUBLE,
ImprovementSurcharge DOUBLE,
TotalAmount DOUBLE,
CongestionSurcharge DOUBLE,
AirportFee DOUBLE

)    

USING DELTA

LOCATION "/home/raddy/projects/DataLab/spark-tutorials/data/output/YelloTaxisNew.delta"

PARTITIONED BY (VendorId)

COMMENT 'This table stores ride information for Yellow Taxis'

"""
)

AnalysisException: [TABLE_OR_VIEW_ALREADY_EXISTS] Cannot create table or view `TaxisDB`.`YellowTaxisNew` because it already exists.
Choose a different name, drop or replace the existing object, or add the IF NOT EXISTS clause to tolerate pre-existing objects.

In [ ]:
spark.sql(
"""
DESCRIBE TABLE EXTENDED TaxisDB.YellowTaxisNew
"""
).show(50, truncate=False)

+----------------------------+---------------------------------------------------------------------------------+---------------------+
|col_name                    |data_type                                                                        |comment              |
+----------------------------+---------------------------------------------------------------------------------+---------------------+
|VendorId                    |int                                                                              |Vendor providing ride|
|PickupTime                  |timestamp                                                                        |null                 |
|DropTime                    |timestamp                                                                        |null                 |
|PickupLocationId            |int                                                                              |null                 |
|DropLocationID              |int                                                                              |null                 |
|PassengerCount              |double                                                                           |null                 |
|TripDistance                |double                                                                           |null                 |
|RateCodeId                  |double                                                                           |null                 |
|StoreAndFwdFlag             |string                                                                           |null                 |
|PaymentType                 |int                                                                              |null                 |
|FareAmount                  |double                                                                           |null                 |
|Extra                       |double                                                                           |null                 |
|MtaTax                      |double                                                                           |null                 |
|TipAmount                   |double                                                                           |null                 |
|TollsAmount                 |double                                                                           |null                 |
|ImprovementSurcharge        |double                                                                           |null                 |
|TotalAmount                 |double                                                                           |null                 |
|CongestionSurcharge         |double                                                                           |null                 |
|AirportFee                  |double                                                                           |null                 |
|# Partition Information     |                                                                                 |                     |
|# col_name                  |data_type                                                                        |comment              |
|VendorId                    |int                                                                              |Vendor providing ride|
|                            |                                                                                 |                     |
|# Detailed Table Information|                                                                                 |                     |
|Name                        |spark_catalog.taxisdb.yellowtaxisnew                                             |                     |
|Type                        |EXTERNAL                                                                         |                     |
|Comment                     |This table stores ride information for Yellow Taxis                              |                     |
|Location                    |file:/home/raddy/projects/DataLab/spark-tutorials/data/output/YelloTaxisNew.delta|                     |
|Provider                    |delta                                                                            |                     |
|Table Properties            |[delta.minReaderVersion=1,delta.minWriterVersion=2]                              |                     |
+----------------------------+---------------------------------------------------------------------------------+---------------------+

In [ ]:
spark.sql("""
        SELECT INPUT_FILE_NAME()
          ,VendorID
          ,PULocationID
          ,passenger_count

          FROM TaxisDB.YellowTaxis
          WHERE VendorId=3

          """).show(10, truncate=False)

+-----------------+--------+------------+---------------+
|input_file_name()|VendorID|PULocationID|passenger_count|
+-----------------+--------+------------+---------------+
+-----------------+--------+------------+---------------+